/* TODO: Update these values when breakpoints are added to the DS. */

html {
  scroll-padding-top: 150px;
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 180px;
  }
}
@media (min-width: 1024px) {
  html {
    scroll-padding-top: 150px;
  }
}

mark {
  background-color: var(--nypl-colors-ui-highlighter-yellow);
  margin: 0;
  display: inline;
  color: inherit;
}

.openseadragon-container button.prev,
.openseadragon-container button.next {
    z-index: 10000 !important;
}

.uv-iiif-extension-host .download .sr-only {
 /*uv css sets this to 'absolute', overriding with 'static' shows the 'download' label */
  position: static !important;
}

.uv-iiif-extension-host .share .sr-only {
 /*uv css sets this to 'absolute', overriding with 'static' shows the 'share' label */
  position: static !important;
}

.plyr__video-wrapper{
  height: 500px !important;
}

.maplibregl-control-container,
.maplibregl-ctrl-top-right,
.maplibregl-ctrl-top-left,
.maplibregl-ctrl-bottom-right,
.maplibregl-ctrl-bottom-left {
  z-index: 10000 !important;
}
