/* TODO: Update these values when breakpoints are added to the DS. */

html {
  scroll-padding-top: 150px;
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 180px;
  }
}
@media (min-width: 1024px) {
  html {
    scroll-padding-top: 150px;
  }
}

em {
  background-color: rgba(249, 224, 142, 0.70);
  margin: 0;
  display: inline;
}