/* TODO: Update these values when breakpoints are added to the DS. */

html {
  scroll-padding-top: 150px;
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 180px;
  }
}
@media (min-width: 1024px) {
  html {
    scroll-padding-top: 150px;
  }
}

mark {
  background-color: #F9E08E;
  margin: 0;
  display: inline;
  color: inherit;
}

.openseadragon-container button.prev,
.openseadragon-container button.next {
    z-index: 10000 !important;
}
